.navbar {
  position: fixed;
  z-index: 10;
  background-color: var(--bg-primary);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  transition: width 0.2s ease;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: var(--transition-speed);
}

.nav-item {
  width: 100%;
  transition: var(--transition-speed);
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  transition: var(--transition-speed);
}

.link-text {
  display: none;
  margin-left: 1rem;
  transition: var(--transition-speed);
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
  transition: var(--transition-speed);
}

.nav-link .svg-inline--fa {
  color: var(--active-secondary);
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.logo-text-secondary {
  font-size: 1rem;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
  margin-left: auto;
}

.active {
  background: var(--active-primary) !important;
  filter: grayscale(0) opacity(1);
  color: var(--text-secondary);
}

.active .svg-inline--fa {
  color: var(--text-secondary) !important;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    box-shadow: none;
    overflow: auto;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
    margin-bottom: 5rem;
    height: calc(100vh - 7rem);
  }
}

@media only screen and (max-height: 400px) {
  .navbar {
    overflow: auto;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover + main {
    margin-left: 16rem;
    transition: 0.3s ease;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }

  .navbar:hover .logo-text {
    left: 0;
    transition: var(--transition-speed);
  }
}
